{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/examples_head.html" %}
{% endblock %}

{% block headerClass %}with-proposition{% endblock %}

{% block propositionHeader %}
  <div class="area header-proposition">Propositional navigation area</div>
{% endblock %}

{% block insideHeader %}
<div class="area">Inside header area</div>
{% endblock %}

{% block afterHeader %}
<div class="area">After header area</div>
{% endblock %}

{% block cookieMessage %}
<div class="area">Cookie message</div>
{% endblock %}

{% block headerClass %}with-proposition{% endblock %}

{% block content %}
<main class="area">Content area</main>
{% endblock %}

{% block bodyEnd %}
<div class="area">Body end area</div>
{% endblock %}

{% block footerTop %}
<div class="area">Footer top area</div>
{% endblock %}

{% block footerSupportLinks %}
<div class="area">Footer support links area</div>
{% endblock %}



{% endblock %}
