{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include "includes/certified-logo.html" %}


	<h1 class="heading-large">Bank account details</h1>

	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="{{baseURL}}/card-transaction">
			
				{{ formData|safe }}

				<div class="intro">
					<p>Please add the details of your bank account.</p>
				</div>

				<div class="hints-feedback">
			        <details class="font-small">
			          <summary>
			            <span class="summary">I don't have my bank account details with me</span>
			          </summary>

			          <div class="panel panel-border-narrow">
			            <p>
			              If you don't have access to the details on your bank account you can:
			            </p>
			            <ul class="list-bullet">
			            	<li><a href="{{baseURL}}/save-and-return-info{{formQuery}}">save and return when you have your bank account details</a> </li>
			            	<!-- <li><a href="{{baseURL}}/identity-test-intro{{formQuery}}">try using a different identity document or method</a></li> -->
			            	<li><a href="{{verifyRoot}}/unable-to-verify{{formQuery}}">cancel and access the government service another way</a></li>
			            </ul>
			          </div>
			        </details>
				</div>

				<div class="form-group">
					<label class="form-label">Account number</label>
					<input class="form-control" type="text" autocomplete="off">
				</div>

				<div class="form-group">
					<legend class="form-label">Sort code</legend>
					<input class="form-control form-control-xsmall" type="text" autocomplete="off">
					-&nbsp;
					<input class="form-control form-control-xsmall" type="text" autocomplete="off">
					-&nbsp;
					<input class="form-control form-control-xsmall" type="text" autocomplete="off">
				</div>

				<div class="form-group">
					<input type="hidden" name="bank_account_done" value="true">
					<button class="button">Continue</button>
<div class="save-and-return-button">
<!-- or <a href="{{verifyRoot}}/save-and-continue{{formQuery}}">save and complete later</a> -->

</div>
				</div>
				
			</form>

		</div>
	</div>
</main>
{% endblock %}


