{% extends "layout.html" %}

{% block pageTitle %}Identity test{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include "includes/certified-logo.html" %}


  <h1 class="heading-large">Identity test</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="intro">
        <p>
          We’re going to ask you a question that only you should know the answers to. This information will be from your credit record. 
        </p>
        <p>
          Your answers help verify you are <span id="full-name">Joe Bloggs</span>.
        </p>
        <p>
          By taking the identity test, you grant {{idp}} temporary access to your credit record. Your credit score won’t be affected. </p>
      </div>

      <form action="{{baseURL}}/verified-loa1">

        {{ formData|safe }}

        <div class="form-group set-wide-block-labels">
          <fieldset>
            <legend class="form-label-bold">
            When did you last take out a personal loan (excluding student loans)?
            </legend>
            <label class="block-label" for="radio-1">
              <input id="radio-1" type="radio" name="idTest3" value="lessThan2">
              Less than 2 years ago
            </label>
            <label class="block-label" for="radio-2">
              <input id="radio-2" type="radio" name="idTest3" value="2to4">
              Between 2 and 4 years ago
            </label>
            <label class="block-label" for="radio-3">
              <input id="radio-3" type="radio" name="idTest3" value="4to6">
              Between 4 and 6 years ago
            </label>
            <label class="block-label" for="radio-4">
              <input id="radio-4" type="radio" name="idTest3" value="over6">
              More than 6 years ago
            </label>
            <label class="block-label" for="radio-5">
              <input id="radio-5" type="radio" name="idTest3" value="never">
              I have never had one
            </label>
          </fieldset>
        </div>
        <input type="hidden" name="loa1_kbv_done" value="true">
        <button class="button">Continue</button>
        <div class="save-and-return-button">
          <!-- or <a href="{{verifyRoot}}/save-and-continue{{formQuery}}">save and complete later</a> -->
        </div>
      </form>
    </div>
  </div>

</main>

{% endblock %}


