{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include "includes/certified-logo.html" %}


	<h1 class="heading-large">Create a password</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			<form action="{{baseURL}}/recover-account">

				<input type="hidden" name="requestId" value="{{requestId}}">
				<input type="hidden" name="request" value="{{request}}">

				<div class="inner-block">

					<div class="form-group">
						<p class="list-intro font-xsmall">Your password must have:</p>
					
						<ul class="list-bullet font-xsmall">
							<li class="requirement" id="requirement-min-length">
								at least 8 characters
							</li>
							<li class="requirement" id="requirement-symbols">
								at least one symbol (eg ?!£%)
							</li>
							<li class="requirement" id="requirement-capitals">
								at least one capital letter
							</li>
						</ul>
<!-- 
						<p><strong>Your password will be visible</strong> <a href="#">Hide password</a></p> -->

						<input class="form-control" id="password" type="password" autocomplete="off"><a href="#" id="togglePassword" style="position:relative;left:-60px;">Show</a>

					</div>

					<div class="error-summary" id="error-summary">
						<p>Please check the requirements for:</p>
						<ul class="fields list-bullet font-xsmall"></ul>
					</div>

					<div class="form-group">

						<button class="button" id="main-submit-button">Continue</button>

					</div>

				</div>

			</form>

		</div>

      	{% include "includes/sidebar.html" %}

	</div>

</main>
{% endblock %}


{% block pageScripts %}
	
	<script type="text/javascript" src="/public/javascripts/password.js"></script>

{% endblock %}


