{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include "includes/certified-logo.html" %}


	<h1 class="heading-large">Security code</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			<form action="{{baseURL}}/security-code-done">
			
				{{ formData|safe }}

				<div class="inner-block">
				
					<p>We've sent your security code to:</p>
					<p><strong>{{mobileNumber}}</strong></p>
					<p>It may take a minute or so to arrive.</p>

					<div class="form-group">

						<label class="form-label">Security code</label>
						<input class="form-control" type="text" autocomplete="off">
						
					</div>

					<div class="form-group">

						<button class="button">Continue</button>

					</div>

				</div>

			</form>

		</div>

	</div>	

</main>
{% endblock %}


