{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">
  
  <div class="grid-row">  
	  {% include "includes/certified-logo.html" %}
    <div class="column-two-thirds">
      <h1 class="heading-large">
        {{idp}} has verified your identity {% if prereg == 'true' %}to the higher level{% endif %}
      </h1>
    </div>
  </div>
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="">
        
        <p>We’ve sent you an email confirming you verified your identity with {{idp}}.</p>

        <p>Continue to return to NHS.UK.</p>

        <a href="https://nhs-id-2.herokuapp.com/confirmation?idp={{idpSlug}}" class="button">
          Continue
        </a>

      </form>
    </div>
  </div>

</main>

{% endblock %}

{% block pageScripts %}
  
  <script type="text/javascript" src="/public/javascripts/reuse.js"></script>

{% endblock %}


